.modal{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(74 74 74 / 91%);
  &__wrapper{
    display: flex;
    position: relative;
    padding: 40px 20px;
    background: azure;
  }
  &__close{
    position: absolute;
    top: 10px;
    right: 20px;
  &:hover{
    cursor: pointer;
  }
  }
}